# ---------------------------------------------------------------------------- #
#                                     Nuxt                                     #
# ---------------------------------------------------------------------------- #

# App
APP_VERSION="latest"
NUXT_PUBLIC_APP_VERSION="latest"
NUXT_PUBLIC_APP_URL="http://localhost:3000"

# SEO
NUXT_SITE_URL="http://localhost:3000"
NUXT_PUBLIC_SITE_URL="http://localhost:3000"

# Supabase
SUPABASE_URL="http://localhost:54321"
SUPABASE_KEY="your_publishable_key"
SUPABASE_SECRET_KEY="your_secret_key"

# ---------------------------------------------------------------------------- #
#                                   Supabase                                   #
# ---------------------------------------------------------------------------- #

# Edge Functions
BREVO_API_KEY="xkeysib-your_brevo_api_key"
APP_URL="http://localhost:3000"

# Vault
# Same as the one from edge functions
SUPABASE_SERVICE_ROLE_KEY="your_secret_key"
SUPABASE_URL="http://host.docker.internal:54321"
