# ---------------------------------------------------------------------------- #
#                                     Nuxt                                     #
# ---------------------------------------------------------------------------- #

# App
NUXT_PUBLIC_APP_VERSION="latest"
NUXT_PUBLIC_APP_URL="http://localhost:3000"

# SEO
NUXT_PUBLIC_SITE_URL="http://localhost:3000"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/openmind"

# Auth
NUXT_SESSION_PASSWORD=password-with-at-least-32-characters

# OG Image
NUXT_OG_IMAGE_SECRET=your_og_image_secret

# S3
NUXT_S3_HOST="http://localhost:54321"
NUXT_S3_REGION="us-east-1"
NUXT_S3_ACCESS_KEY="your-access-key-here"
NUXT_S3_SECRET_KEY="your-secret-key-here"

# Brevo
NUXT_BREVO_API_KEY="xkeysib-your_brevo_api_key"
