{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": ["info", "warn", "trace", "error"]
          }
        ]
      }
    }
  ],
  "rules": {
    "no-console": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "semi-style": ["error", "last"],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "only-multiline"
      }
    ],
    "indent": ["error", 2],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "curly": ["error", "multi-line"],
    "vue/v-on-event-hyphenation": [
      "error",
      "always",
      {
        "autofix": true
      }
    ],
    "import/no-named-as-default-member": "off"
  }
}
