# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Build outputs
.next
out
build
dist

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.pem
.fleet
.idea

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Local env files
.env
.env.*
!.env.example

# Vercel
.vercel

# Supabase
.supabase

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
