@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind utilities;
  @tailwind variants;
}

.ql-editor .ql-align-center > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-editor .ql-align-right > img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.ql-editor .ql-align-left > img {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
